<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/385ce367-5a86-4080-b347-7ca20eeb117c/resourcegroups/myFreeDBResourceGroup/providers/Microsoft.Web/sites/UserAPI20241229100410</ResourceId>
    <ResourceGroup>myFreeDBResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/385ce367-5a86-4080-b347-7ca20eeb117c/resourceGroups/myFreeDBResourceGroup/providers/Microsoft.ApiManagement/service/UserAPIapi/apis/UserAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://userapi20241229100410.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>17aa33b6-80c8-4e9c-a94e-3f0d0d9b90d8</ProjectGuid>
    <MSDeployServiceURL>userapi20241229100410.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UserAPI20241229100410</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UserAPI20241229100410</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>